<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon" href="https://previews.123rf.com/images/mtkang/mtkang1108/mtkang110800012/10232896-fire-alphabets-in-flame-letter-h.jpg" type="image/x-icon">

    <!-- application.html.erb -->
    <script type="text/javascript">


      window.wafflesURL = "<%= image_url('wafflejoke.png') %>";
      window.magnifyURL = "<%= image_url('magnify.png') %>";

      window.hLogoURL = "<%= image_url('hLogo.png') %>";
      window.hangoutLogoURL = "<%= image_url('hangoutLogo.png') %>";
      window.peopleHangoutURL = "<%= image_url('peopleHangout.png') %>";
      window.panoramaURL = "<%= image_url('panorama.png') %>";
      window.blankProfileURL = "<%= image_url('blankProfile.png') %>";
      window.padlockURL = "<%= image_url('padlock.png') %>";

      // group_show icons
      window.mapMarkerURL = "<%= image_url('mapMarker.png') %>";
      window.membersURL = "<%= image_url('members.png') %>";
      window.groupLeaderURL = "<%= image_url('groupLeader.png') %>";


    </script>

    <title>Hangout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
