<!DOCTYPE html>
<html>
  <head>

    <!-- This was the link for the favicon but appears to not be necessary -->
    <!--  <link rel="shortcut icon" href="https://previews.123rf.com/images/mtkang/mtkang1108/mtkang110800012/10232896-fire-alphabets-in-flame-letter-h.jpg" type="image/x-icon"> -->

    <!-- application.html.erb -->

    <!-- This is the code from Brian I may need later -->
    <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %> -->
    <!-- must include the &libraries=places to include autofill -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>


    <script type="text/javascript">
    
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
      window.wafflesURL = "<%= image_url('wafflejoke.png') %>";
      window.magnifyURL = "<%= image_url('magnify.png') %>";

      window.hLogoURL = "<%= image_url('hLogo.png') %>";
      window.hangoutLogoURL = "<%= image_url('hangoutLogo.png') %>";
      window.peopleHangoutURL = "<%= image_url('peopleHangout.png') %>";
      window.panoramaURL = "<%= image_url('panorama.png') %>";
      window.blankProfileURL = "<%= image_url('blankProfile.png') %>";
      window.padlockURL = "<%= image_url('padlock.png') %>";

      //This is the image for the icon but has not been implemented either.  Stored here incase favicon stops working
      //Stored in images so it is not lost from project
      window.FireHURL = "<%= image_url('FireH.png') %>";


      // group_show icons
      window.mapMarkerURL = "<%= image_url('mapMarker.png') %>";
      window.membersURL = "<%= image_url('members.png') %>";
      window.groupLeaderURL = "<%= image_url('groupLeader.png') %>";


    </script>

    <title>Hangout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <!-- This is the code required to use the current font-awesome icons  -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          type="text/css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous" >

  </head>

  <body>
    <%= yield %>
  </body>
</html>
