<!DOCTYPE html>
<html>
  <head>



    <!-- application.html.erb -->
    <script type="text/javascript">



      window.hLogoURL = "<%= image_url('hLogo.png') %>";
      window.hangoutLogoURL = "<%= image_url('hangoutLogo.png') %>";
      window.peopleHangoutURL = "<%= image_url('peopleHangout.png') %>";
      window.panoramaURL = "<%= image_url('panorama.png') %>";
      window.blankProfileURL = "<%= image_url('blankProfile.png') %>";
      window.padlockURL = "<%= image_url('padlock.png') %>";


    </script>

    <title>Hangout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
